body
{
  color: white;
  background-color: rgb(165, 0, 165);
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emoji_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  font-size: 18px;
  border-radius: 10px;
}
   
#jdsdnfi{
  letter-spacing: 10px;
}
label{
  font-size: 14px;
  color: #000000;
  padding: 6px;
  border-radius: 10px;
  background-color: rgb(0, 255, 128);
}
#vr{
  border-left: 2px solid rgb(0, 0, 0);
  height: 70px;
}